extends layout

block content
  p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum rem quasi error, dignissimos quisquam cumque quis enim eius sunt odio inventore ducimus expedita fugiat magni itaque aliquam odit laudantium voluptate.
